@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  
    .menButton {
        @apply   relative
    };

    .menList {
   @apply  flex-col absolute top-[100%] left-0 w-[200px] bg-white p-3 shadow-lg mt-[10px] opacity-0 ;
    }

    .menButton:hover .menList {
        @apply opacity-100 z-50
    };

    .menListCategory {
        @apply  flex-col absolute top-0 left-[100%] w-[200px] bg-white p-3 shadow-lg mt-[10px] opacity-0 ;
         }
     
         .menButton:hover .menListCategory {
             @apply opacity-100 z-50
         }

         /* for card */
         .card {
            @apply   relative
        };
    
        .cardButton {
       @apply  flex flex-col gap-1  absolute left-[85%] top-2 opacity-0;
        }
    
        .card:hover .cardButton {
            @apply opacity-100 z-50
        };
       
        /* categories card for grid view */
       /* for four */
        .cardView.four {
            @apply w-[150px] sm:w-[180px]  md:w-[220px] lg:w-[240px] xl:w-[270px] hover:scale-95 duration-200 rounded bg-white  mx-auto shadow-md
        }
        .cardView.four .link .image   {
            @apply w-full
        }
        
       /* for one */


        .cardView.one {
            @apply w-full h-[150px]   md:h-[200px]   hover:scale-95 duration-200  rounded-md bg-white  mx-auto my-2 shadow-md
        }
        .cardView.one .link {
            @apply flex items-center   gap-[30px]
        }
        .cardView.one .link .image   {
            @apply   w-[180px] 
        }


        /* single product page size and weight button */
        .active {
            @apply bg-blue-500  font-semibold
        }
}



@layer components {
   /* .scrollbar {
         overflow-y: scroll;
        ::-webkit-scrollbar{width: 8px; height: 8px;}
        ::-webkit-scrollbar-thumb{background: #ccc;};
        ::-webkit-scrollbar-track{background: transparent;}

    } */

   
}